*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.logo
{
   padding: 0%;
   margin-left: 1%;
    height: 80px;
    width: 260px;
}
.gradientNB
{
  background-color: #1f4037;
}
#textcenter
{
  /*background-image: linear-gradient(30deg, #1f4037, #99f2c8);*/
  width: 100%;
  height: 50vh;
  min-height: 40vh;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#textcenter h1
{
  font-size: 45px;
  color: #fff;
  font-weight: 400;
  margin-top: 100px;
}
#textcenter p
{
  font-size: 16px;
  color: #fff;
  text-align: center;
}
#textcenter a
{
  text-decoration: none;
  margin-top: 20px;
  font-size: 19px;
  letter-spacing: 2px;
  padding: 12px, 40px;
  background-color: #1f4037;
  border-radius: 5px;
  text-align: center;
  color: #fff;
}
#texcenter a:hover
{
  color: #ffc300;
}
.navbar
{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px, 0px;
  position: relative;
  z-index: 1;
}
.navbar ul
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.navbar ul li
{
  list-style: none;
}
.navbar ul li a
{
  padding: 10px 18px;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}
.navbar ul li a:hover
{
  background-color: #1f4037;
}
body
{
    height: auto;
    background: transparent;
}
body h1
{
  color: black;
}
body h3
{
  color: black;
}
body p
{
  color: black;
}
body li
{
  color: black;
}
body table
{
  color: black;
}
body thead
{
  color: black;
}
body th
{
  color: black;
}
body tbody
{
  color: black;
}
body tr
{
  color: black;
}
body td
{
  color: black;
}
body span
{
  color: black;
}
.nabvar-nav
{
  background-color: transparent;
}
.content
{
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(31, 64, 55, 0.85), rgb(31, 64, 55,0.65)), url(../images/wallpaper.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
  /* Style the footer */
#Fbak
{
  background-color: #1db7a0;
}
#footerbg 
{
    position: relative;
    width: auto;
    min-height: auto;
    background-image: linear-gradient(30deg, #1f4037, #1f4037);
  }
#bot3
{
  background-color: #0b1d2d;
  text-align: center;
}
.copyright
{
  margin-top: 1%;
}
.fb_feedback
{
  margin-bottom: 0%;
}
.setlogo
{
  position: absolute;
  right: 2%;
  height: 40px;
  width: 130px;
  padding: auto;
}
.feedback
{
  position: relative;
  padding: 0%;
  margin: 0%;
}
#sttxt
  {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
#sttxt:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }
#sbtxt
{
  color: rgb(65, 64, 64);
  background-color: white;
  text-decoration: none;
}
#sbtxt:hover {
  color: #ffc300;
  background-color: transparent;
  text-decoration: none;
}
.title
{
  font-size: x-large;
}
a:hover
{
  color: rgb(249, 250, 250);
}
.tags
{
  color: red;
}
.dtype
{
  color: rgb(214, 212, 212);
}

/*Sidevar*/
#sidenab {
  height: auto;
  background: transparent;
  text-align: center;
  color: black;
}

.sticky {
  background: #eee;
  height: 10rem;
  width: 10rem;
  flex-grow: 1;
  flex-basis: 300px;
  position: sticky;
  top: 2rem;
  /* center the text */
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-container iframe
{
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  min-height: 30;
}

.color-box {
  margin: 2px 0;
  padding-left: 0px;
  position: relative;
}

.info-tab {
  width: 40px;
  height: 40px;
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 0;
}
.tip-box {
  color: #2e501463;
  background: #2e501463;
  padding: 15px 15px 2px 28px;
}
.shadow {
  background: transparent;
  padding: 3px;
}
.elementsexp
{
  max-width: 100%; 
  max-height: 100%;
}
.unvisited
{
  text-decoration: underline;
  color: blue;
}
.visited
{
  text-decoration: underline;
  color: purple;
}
.active
{
  text-decoration: underline;
  color: red;
}
/*About Us*/
.au_logo
{
  position: relative;
  height: 100px;
  width: 350px;
}
.modal h4
{
  color: black;
}
.modal p
{
  color: black;
}
/*Contact Us*/
.contact
{
  position: relative;
  min-height: 100vh;
  padding: 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact .content
{
  max-width: 800px;
  text-align: center;
}
.contact .content h2
{
  font-size: 36px;
  font-weight: 500;
  color:#fff;
}
.contact .content p
{
  font-weight: 300;
  color:#fff;
}
.contus
{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}
.contus .contactInfo .box
{
  position: relative;
  padding: 7px 0px;
  display: flex;
  min-width: 50;
}

.contus .contactInfo .text
{
  display: flex;
  margin-left: 8px;
  font-size: 16px;
  color: black;
  flex-direction: column;
  font-weight: 300;
}
.contus .contactInfo .text h4
{
  font-weight: 500;
  color: black;
}
.contus .contactInfo .text p
{
  font-weight: 300;
  color: black;
  padding-right: 50px;
}
.contactForm .inputBox input
{
  width: 100%;
  padding: 5px 0px;
  font-size: 16px;
  margin: 10px 0px;
  border: none;
  border-bottom: 2px solid #333;
}
.contactForm form {
	color: rgb(247, 245, 243);
	border-radius: 3px;
	margin-bottom: 15px;
  background-color: white;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px 20px;
}
.contactForm h3
{
  color: #272727;
  margin: 0 0 15px;
	position: relative;
	text-align: center;
}
.contactForm .form-group {
	margin-bottom: 20px;
  position: relative;
}
.contactForm input[type="checkbox"] {
	margin-top: 3px;
}
.contactForm .btn {        
	font-size: 16px;
	font-weight: bold;		
	min-width: 140px;
	outline: none !important;
}
@media (max-width: 911px)
{
  .contact
  {
    padding: 50px;
  }
  .container
  {
    flex-direction: column;
  }
}